<!doctype html>
<html lang="ept-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .topnav {
        background-color: gray;
        text-color: white;
        }
    </style>
    <title>Dashboard</title>
</head>
<body>
<div class="topnav">
  <a href="/">Home</a>
  <a href="nova_venda">Nova Venda</a>
  <a href="cadastro_cliente">Cadastrar Cliente</a>
  <a href="cadastro_produto">Cadastrar Produto</a>

</div>
<h1>Dashboard</h1>

<h3>Vendas</h3>
<ul>
    {% for venda in vendas %}
    <li>cod-{{ venda.cod_venda }}     <b>{{ venda.produtos }} </b> {{ venda.tipo_pagamento }}
    {{ venda.produtos.preco }}</li>
    {% endfor %}

</ul>
</body>
</html>-+