<!doctype html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'staticfiles/app_vendas/css/mystyle.css' %}">
    <title>Dashboard Clientes</title>
</head>
<body class="pagina">
<div class="topnav">
  <a href="/">Home</a>
  <a href="{% url 'nova_venda' %}">Nova Venda</a>
  <a href="{% url 'cad_cliente' %}">Cadastrar Cliente</a>
  <a href="{% url 'cad_prod' %}">Cadastrar Produto</a>

</div>
<div class="corpo">
<h1>Dashboard</h1>

<h3>Clientes</h3>
<ul>
    {% for cliente in clientes %}
    <li><a href="{% url 'clientes_update' cliente.cod_cliente %}"> cod-{{ cliente.cod_cliente }} </a>
         -  {{ cliente.nome }}  <b>{{ cliente.endereco }}
    </b> {{ cliente.email }} -  {{ cliente.telefone }}</li>
    {% endfor %}

</ul>
</div>
</body>
</html>