<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://jcrf.tech/css/mystyle.css">
    <title>Dashboard Vendas</title>
</head>
<body class="pagina">

<div class="topnav">
  <a href="/">Home</a>
  <a href="{% url 'nova_venda' %}">Nova Venda</a>
  <a href="{% url 'cad_cliente' %}">Cadastrar Cliente</a>
  <a href="{% url 'dashboard_clientes' %}">Listar Clientes</a>
  <a href="{% url 'cad_prod' %}">Cadastrar Produto</a>
  <a href="{% url 'dashboard_produtos' %}">Listar Produtos</a>

</div>
<div class="corpo">
<h1></br>Dashboard</h1>

<h3>Vendas</h3>
<ul>
    {% for venda in vendas %}
    <li><a href="{% url 'update' venda.cod_venda %}"> cod-{{ venda.cod_venda }} </a>    <b>{{ venda.produtos }} </b> {{ venda.tipo_pagamento }}
    {{ venda.produtos.preco }}</li>
    {% endfor %}

</ul>
</div>
</body>
</html>
