<!doctype html>
{% load static %}
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'mystyle.css'%}">
    <title>Cadastrar Produto</title>
</head>
<body class="pagina">
<div class="formulario">
<form method="POST">
        {% csrf_token %}
        {{ produto.as_p }}
        <button type="submit">Salvar</button>
        {% if produto_dados %}
            <button type="submit"><a href="{% url 'produtos_delete' produto_dados.cod_produto %}">Remover</a></button>
        {% endif %}
    </form>
</div>
</body>
</html>